<html>
  <body>
  <ul>
  <% for  @action_item in @action_items -%>
    <li><%= @action_item.title %> | <%= @action_item.updated_at %> | <%= @action_item.category %> | <%= @action_item.id %> </li>
  <% end  -%>
  </ul>
  <h1>hiiie</h1>
  </body>
</html>